## JOINS

Producto Cruz: Returns everything with everything  

`select C.code, C.name, D.id, D.name, D.countrycode
from country as C, city as D;`

### INNER JOINS
Ciudades de colombia:

`select P.name, C.name
from country as P
inner join city as C on P.code = C.countrycode
where P.name = "Colombia";`

### LEFT JOINS
Todos los elementos del conjunto A y donde no exista relacion con B entonces es NULL

`select L.language, P.name
from countrylanguage as L
left join country as P on L.CountryCode = P.code;`

### RIGHT JOINS
Todos los elementos del conjunto B y donde no exista relacion con A entonces es NULL

`select P.name, C.name
from city as C
right join country as P on C.countrycode = P.Code
where P.name = "Colombia";`

# 1. Exercises

1. Listar nombres de países y sus respectivas ciudades:
    * Mostrar todas las ciudades de Colombia.

    ```
    select P.name, C.name
    from country as P 
    inner join city as C on P.code = C.countrycode
    where P.name = "Colombia";
    ```
2. Continentes y sus poblaciones:
    * Mostrar la 5 ciudades más pobladas de América, Europa, Asia y África. Ordenar el
    informe por Continente, luego descendentemente por ciudades
    ```
    select country, city, continent, population
    from (select country.name as country, city.name as city, country.continent as continent, city.population as population
    from country
    inner join city on country.code  = city.countrycode
    order by city.population desc
    limit 5) as subquery
    order by continent;
    ```
3. Idiomas oficiales:
    * Mostrar todos los países de África y sus idiomas oficiales. Ordenar el listado alfabéticamente por el nombre del idioma.
    ```
    select country.name, countrylanguage.language, country.continent
    from country
    inner join countrylanguage on country.code = countrylanguage.countrycode
    where country.continent = "Africa" and countrylanguage.isofficial = "T"
    order by countrylanguage.language;
    ```
4. Capitales e idiomas:
    * Listar todos los idiomas no oficiales hablados en Santander Colombia.
    ```
    select countrylanguage.language, city.name as city
    from countrylanguage
    inner join city on countrylanguage.countrycode = city.countrycode
    where city.name = "Santander" and countrylanguage.isofficial = "F";
    ```
5. Países sin lenguaje oficial:
    * Encontrar los países que no tienen idioma oficial registrado.
    ```
    select distinct c.Name, c.code
    from country as c
    left join countrylanguage as l on c.code = l.countrycode
    where c.code not in (select distinct countrycode
    from countrylanguage
    where isofficial = "T");
    ```
6. Ciudades habla hispanas de Asia:
    * Mostrar la ciudades de Asia y su país, ordenadas por la cantidad de habitantes, que tienen como idioma español.
    ```
    
    ```

# **2. Second part of exercises for queries MySQL**

1. ***Devuelve una lista con el nombre del producto, precio y nombre de fabricante de todos los
productos de la base de datos.***
    ```
    select P.nombre as Product, P.precio, F.nombre as fabricante
    from producto P
    inner join fabricante F on P.id_fabricante = F.id;
    ```
2. ***Devuelve una lista con el nombre del producto, precio y nombre de fabricante de todos los
productos de la base de datos. Ordene el resultado por el nombre del fabricante, por orden
alfabético.***
    ```
    select P.nombre as Product, P.precio, F.nombre as fabricante
    from producto P
    inner join fabricante F on P.id_fabricante = F.id
    order by fabricante;
    ```
3. ***Devuelve una lista con el identificador del producto, nombre del producto, identificador del
fabricante y nombre del fabricante, de todos los productos de la base de datos.***
    ```
    select P.nombre as Product, P.id, F.nombre as fabricante , F.id as Fabricante_id
    from producto P
    inner join fabricante F on P.id_fabricante = F.id;
    ```