# Claves y Restricciones SQL

## 1. Claves

Las claves en MyDQL, como en otros sistemas de gestion de bases de datos, son fundamentales para organizar, relacionar y asegurar la integridad de los datos.

* **Integridad de datos**
* **Rendimiento**
* **Relaciones entre tables**
* **Prevencion de datos duplicados**

### Claves Primarias (PRIMARY KEY)
* Una clave primaria es un conjunto de uno o mas campos que identifican de manera unica cada registro en una tabla
* No puede contener valorers nulos
* Cada tabla puede tener solo una clave primaria.

```sql
create table estudiantes (
    id int primary key,
    nombre varchar(50)
);
```

Otra forma de crear la clave primaria:

```sql
create table estudiantes (
    id int,
    nombre varchar(50),
    primary key (id)
);
```

### Claves Foraneas (Externas) (FOREIGN KEY)

* Una clave externa se utiliza para establecer relaciones entre tablas.
* Garantiza que los valores en una columna coincidan con los valores en la clave primaria de otra tabla.

**Sintaxis**

```sql
create table cursos(
    id int primary key,
    nombre varchar(50),
);

create table estudiantes(
    id int primary key,
    nombre varchar(50)
)

create table inscripciones(
    estudiante_id int,
    curso_id int,
    foreign key (estudiantes_ID) REFERENCES estudiantes(id)
    foreign key (curso_id) references cursos(id)
);
```

# 2. Restricciones

### Restriccion de Unicidad (UNIQUE):
* Garantiza que los valores en una columna o un conjunto de columnas sean unicos en la tabla

**Ejemplo**

```sql
create table empleados (
    id int primary key,
    codigo_empleado int unique,
    nombre varchar(50)
);
```

### Restriccion de Valor Predetermindao (DEFAULT):

* Define un valor predeterminado para una columna si no se proporcionan un valor al insertar un nuevo registro.

**Ejemplo**

```sql
create table pedidos (
    id int primary key,
    fecha_pedido date default (current_date),
    total decimal(10,2) default 0.00
);

insert into pedidos (id, total) values (1, 100), (2, 30), (3, 150);

select * from pedidos;
```

### Restriccion de Verificacion (CHECK)

* Permite definir una condicion que debe cumplirse para que un valor se almacene en un columna.

**Ejemplo**
Crear una tabla productos con un id, nombre y cantidad donde se verique la cantidad debe ser mayor a 0.

```sql
create table if not exists producto (
    id int primary key,
    nombre varchar(50),
    cantidad int check (cantidad > 0)
);

insert into productos values (1, "Bandeja Paisa", 0); -- Error: CHECK constraint failed: cantidad >
```

### Restriccion de No Nullos (NOT NULL)

* Indica que una columna no puede contener valores nulos.

**Ejemplo**

```sql
create table clientes (
    id int primary key,
    nombre varchar(50) not null
);
```

### Restriccion de valor unico en clave Primaria (AUTO_INCREMENT)

* Se utilza para generar automaticamente valores unicos para una columna de clave primaria.

**Ejemplo**

```sql
create table empleados (
    id int primary key auto_increment,
    nombre varchar(50)
);

insert into empleados (nombre) values ("camilo"), ("lorenzo"), ("carlos");
```

## Entidad relacion y el model relacional

### Componentes principales del modelo E-R

1. **Entidades:** Objetos del mundo real de interes para el sistema.

2. **Atributos;** Caracteristicas o proiedades de las _entidades_.

3. **Relaciones:** Asociaciones o conexiones entre _entidades_.

4. **Cardinalidad:** Cantidad de instancias de una _entidad_ en otras. Los tipos que encontramos: uno a muchos (1, N), muchos a muchos (M, N) y de uno a uno (1:1).

### Modelo Relacional

* Es una representacion logica mas croncreta y fisica de la base de datos.

* Los datos se organizan en tablas y relaciones.

* Las tablas filas(registros) y columnas(campos).

* Las relaciones se hacen a traves de las llaves (primaria y foranias (externas))